.home-page{
    margin-left: 50px;
    animation: fadeIn 1s backwards;
    h1{
        color: white;
        font-size: 5.5rem;
        margin: 0px;
        margin-top:-10px;
        font-family: 'Coolvetica';
        font-weight: 400;
        width: 80%;
        animation-name: bounceIn;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
        min-width: 5px;
    }
    h2{
        color: #8d8d8d;
        font-weight: 400;
        font-size: 1.5rem;
        width: 80%;
        font-family: sans-serif;
        margin-top: 200px;
        padding: 0px;
        letter-spacing: 3px;
        animation: fadeIn 1s 1s backwards;
    }
    .flat-button{
        color: red;
        font-size:15px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid black;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.3s backwards;
        white-space: nowrap;

        &:hover{
            background: red;
            color: #333;
        }
    }
    .text-zone{
            margin-left: 100px;
            margin-top: 0%;
            transform: translateY(50%);
            width: 90%;
            max-height: 100%;
        }
    .pictures{
        margin-left: 50%;
        width: 25%;
    }
    @media screen and (max-width: 500px) and (min-width: 320px){
        .lowerBox{
        position: absolute;
        bottom: -400%;
        h2{
            font-size: 10px;
            width: 50%;
            margin-left: -5px;
        }
        .flat-button{
            width: 100px;
            font-size: 10px;
        }
        }
    }
    @media screen and (max-width: 500px) and (min-width: 320px){
        .text-zone{
            margin-left: 10px;
            margin-top: 20%;
            transform: translateY(50%);
            width: 90%;
            max-height: 100%;
            h1{
                font-size: 20px;
            }
        }
        
    }
}
